version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: user_api
      POSTGRES_PASSWORD: senha_secreta
      POSTGRES_DB: user_api 
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user_api"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build:
      context: ./backend 
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - ./backend/app:/app 
      - ./backend/requirements.txt:/app/requirements.txt
    
    depends_on:
      db:
        condition: service_healthy
    
volumes:
  postgres_data: