venv/
.venv/
env/
*.pyc

__pycache__/
*.pyc
*.pyd
*.so
dist/
build/
*.egg-info/
.pytest_cache/

pip-log.txt
pip-delete-this-file.txt
.history

.env
.flaskenv
*.secret

backend/.env
data_ingestion/.env

*.db
*.sqlite
*.sqlite3

docker-compose.override.yml  # Se usado para configurações locais
*.log
*.swp

frontend/node_modules/
frontend/dist/
frontend/build/
frontend/out/

.vscode/
.idea/